@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'DM Sans', sans-serif;
  background: #1a1a1a;
}

input, textarea, select, button {
  font-family: inherit;
}

[dir="rtl"] {
  font-family: 'Gulzar', serif;
  line-height: 2.1;
}

[dir="rtl"] input,
[dir="rtl"] textarea,
[dir="rtl"] select,
[dir="rtl"] button {
  font-family: 'Gulzar', serif;
}

::-webkit-scrollbar {
  width: 0;
}


